@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body {
    height: 100%; /* Ensures the body fills the whole screen */
    margin: 0;
    padding: 0;
    background-color: #141414;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes content apart */
}

.center {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 100%;
    height: 50px; /* This is the cursor flicker position */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'System', monospace;
    font-size: 21px;
    color: #12d94d;
    margin-top: 20px;
}

#image {
    width: 50%;
    max-width: 400px;
    max-height: 536px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 1px solid #f72209;
}

#parent {
    white-space: nowrap;
    overflow: visible;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.70);
    margin: 0 auto;
    margin-top: 20px;
}

#border {
    border-bottom: solid 3px rgba(0, 255, 0, 0.75);
    width: 20px;
    position: relative;
    bottom: 50px;
    margin-left: auto;
}

/* Animation */
#parent {
    animation: animated-text 1s steps(30, end) 1s 1 normal both;
}

#border {
    animation: animated-cursor 600ms steps(30, end) infinite;
}

@keyframes animated-text {
    from { width: 0; }
    to { width: 400px; }
}

@keyframes animated-cursor {
    from { border-bottom-color: rgba(0, 255, 0, 0.75); }
    to { border-bottom-color: transparent; }
}

/* Button Container Styling */
.button-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 50px; /* Padding from the bottom */
}

/* Icon Button Styling */
.icon-button {
    background-color: #1c1c1c;
    border: none;
    border-radius: 10px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.icon-button:hover {
    background-color: #2a2a2a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.icon {
    height: 24px;
    width: 24px;
    filter: invert(75%) sepia(10%) saturate(400%) hue-rotate(80deg) brightness(100%) contrast(90%);
}

.icon-button:active {
    transform: translateY(2px);
}

/* Styles for the Open Random Bookmarks button */
#openBookmarksButton {
    background-color: #1c1c1c;
    border: none;
    border-radius: 10px;
    padding: 16px 24px;
    font-size: 16px;
    color: #12d94d;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

#openBookmarksButton:hover {
    background-color: #2a2a2a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#openBookmarksButton:active {
    transform: translateY(2px);
}
